/* Colores */
/* Font-family */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.3);
}
nav p {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 10px;
}
nav .icons {
  display: flex;
  gap: 15px;
  align-items: center;
}
nav .icons button {
  background: none;
  border-style: none;
}
nav .icons .profile {
  width: 30px;
  height: 30px;
  background-image: url("https://i.postimg.cc/QtFQwC9K/user-circle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav .icons .wishlist {
  width: 30px;
  height: 30px;
  background-image: url("https://i.postimg.cc/43NbvBX5/heart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav .icons .clard {
  width: 30px;
  height: 30px;
  background-image: url("https://i.postimg.cc/XvHKsdJ0/shopping-cart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 
    empiezo con mi main, termine el head
*/
article {
  width: 100%;
  height: auto;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  color: #7C6A0A;
  box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.3);
}
article .impact--section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
article h1 {
  font-size: 3.5rem;
}
article p {
  width: 40vw;
  height: auto;
  margin-top: -150px;
  font-size: 1.9rem;
  text-align: justify;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  height: auto;
  min-height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #FA9500;
  color: #ffffff;
  border-radius: 35px;
  box-shadow: 3px 6px 16px -5px rgba(0, 0, 0, 0.49);
}
article button:hover {
  transform: scale(1.2);
}
article img {
  width: 32vw;
  height: 520px;
  border-radius: 19px;
}

/* 
    seccion de productos
*/
section {
  width: 100%;
  padding: 60px;
  height: auto;
}
section h2 {
  font-size: 2.5rem;
  padding-bottom: 60px;
  color: #7C6A0A;
}
section .healthcare, section .about--us, section .furniture {
  padding-bottom: 60px;
}
section .healthcare .card--section, section .about--us .card--section, section .furniture .card--section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 80px;
}
section .healthcare .product--card, section .about--us .product--card, section .furniture .product--card {
  width: 20vw;
  padding: 30px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  border-radius: 8px;
}
section .healthcare .product--card .icon, section .about--us .product--card .icon, section .furniture .product--card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  padding-bottom: 10px;
}
section .healthcare .product--card .icon button, section .about--us .product--card .icon button, section .furniture .product--card .icon button {
  background: none;
  border-style: none;
}
section .healthcare .product--card .icon .heart, section .about--us .product--card .icon .heart, section .furniture .product--card .icon .heart {
  width: 25px;
  height: 25px;
  background-image: url("https://i.postimg.cc/43NbvBX5/heart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section .healthcare .product--card .product--img, section .about--us .product--card .product--img, section .furniture .product--card .product--img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section .healthcare .product--card .product--img img, section .about--us .product--card .product--img img, section .furniture .product--card .product--img img {
  width: 85%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
}
section .healthcare .product--card h3, section .about--us .product--card h3, section .furniture .product--card h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.3rem;
}
section .healthcare .product--card p, section .about--us .product--card p, section .furniture .product--card p {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
}
section .furniture .product--card {
  background-color: #BABD8D;
  color: #ffffff;
}

/* 
    seccion de porque nosotros
*/
.about--us .mision--section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about--us .mision--section .earth, .about--us .mision--section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #E86424;
}
.about--us .mision--section .earth img, .about--us .mision--section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about--us .mision--section .earth p, .about--us .mision--section .innovation p {
  margin-top: 10%;
  text-align: center;
  font-size: 1.7rem;
}
/* 
    seccion de galeria de estilos
*/
.gallery .gallery--img {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery--img img {
  width: 27vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery--img img:hover {
  transform: scale(1.2);
}

/* 
    seccion encuentranos en
*/
.location {
  color: #E86424;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.location .map img {
  width: 80vw;
  border-radius: 16px;
}
.location h3 {
  padding-top: 20px;
  margin-left: 50px;
  font-size: 1.8rem;
}
.location p {
  margin-left: 50px;
  padding-bottom: 60px;
  font-size: 1.2rem;
}

/* 
    main terminado con todas sus seccions
    comienza el footer
*/
footer {
  padding: 30px;
  background-color: #E86424;
  width: 100%;
  height: auto;
  color: #ffffff;
}
footer h3 {
  font-size: 1.8rem;
}
footer ul li {
  list-style: none;
  font-size: 1.5rem;
}
footer .social--media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}/*# sourceMappingURL=main.css.map */