/* Colores */
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiarty-color: #BABD8D;
$just_white: #ffffff;
$primaryy--text-color: #7C6A0A;
/* Font-family */
$font-stack: "IBM Plex Sans", sans-serif;

@mixin flexCenter ($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin BackgroundImg ($url, $size, $position, $repeat){
    background-image: $url;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    font-family: $font-stack;
    background-color: $primary-color;
}

nav {
    width: 100%;
    padding: 15px;
    @include flexCenter(row,space-between,center);
    color: $primaryy--text-color;
    box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.3);
    p {
        font-size: 2.5rem;
        font-weight: bold;
        padding-left: 10px ;
    }

    .icons{
        display: flex;
        gap: 15px;
        align-items: center;
        @include buttonStyle;

        .profile {
            width: 30px;
            height: 30px;
            @include BackgroundImg(url('https://i.postimg.cc/QtFQwC9K/user-circle.png'),cover,center,no-repeat)
        } 
                
        .wishlist {
        width: 30px;
        height: 30px;
        @include BackgroundImg(url('https://i.postimg.cc/43NbvBX5/heart.png'), cover, center, no-repeat )
        } 
                
        .clard {
        width: 30px;
        height: 30px;
        @include BackgroundImg(url('https://i.postimg.cc/XvHKsdJ0/shopping-cart.png'), cover, center, no-repeat)
        }
    }   
}

/* 
    empiezo con mi main, termine el head
*/

article {
    width: 100%;
    height: auto;
    padding: 60px;
    display: flex;
    justify-content: space-around;
    color: $primaryy--text-color;
    box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.3);

    .impact--section{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        width: 40vw;
        height: auto;
        margin-top: -150px;
        font-size: 1.9rem;
        text-align: justify;
    }

    @include buttonStyle;
    button {
        width: 12vw;
        height: auto;
        min-height: 50px ;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #FA9500;
        color: $just_white;
        border-radius: 35px;
        box-shadow: 3px 6px 16px -5px rgba(0,0,0,0.49);
        &:hover {
            transform: scale(1.2);
        }
    }

    img{
        width: 32vw;
        height: 520px;
        border-radius: 19px;
    }
}

/* 
    seccion de productos
*/

section {
    width: 100%;
    padding: 60px;
    height: auto;

    
    h2{
        font-size: 2.5rem;
        padding-bottom: 60px;
        color: $primaryy--text-color;
    }

    .healthcare{
            padding-bottom: 60px;

            .card--section {
            width: 100%;
            height: auto;
            @include flexCenter(row ,space-evenly, center);
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 80px;    
        }
        
        .product--card {
            width: 20vw;
            padding: 30px;
            background-color: $secondary-color;
            color: $primaryy--text-color;
            border-radius: 8px;
            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 2px;
                padding-bottom: 10px;
                button {
                    background: none;
                    border-style: none;   
                }
                .heart {
                    width: 25px;
                    height: 25px;
                    @include BackgroundImg(url('https://i.postimg.cc/43NbvBX5/heart.png'), cover, center, no-repeat);
                }
            }
        
            .product--img{
                @include flexCenter(row, space-between, center);
                
                img {
                    width: 85%;
                    height: 250px;
                    object-fit: contain;
                    border-radius: 6px;
                }    
            }

            h3 {
                margin-top: 10px;
                margin-left: 10px;
                font-size: 1.3rem
            }

            p {
                margin-top: 2px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1rem;
            }

        }
    }
    
    .furniture {
        @extend .healthcare;
        .product--card{
            background-color: $tertiarty-color;
            color: $just_white;
        }
    }
}   

/* 
    seccion de porque nosotros
*/

.about--us{
    @extend .healthcare;
    
    .mision--section {
        @include flexCenter(row ,space-evenly, center);

        .earth {
            width: 30vw;
            display: flex;
            gap: 40px;
            color: #E86424;

            img{
                object-fit: contain;
            }

            p {
                margin-top: 10%;
                text-align: center;
                font-size: 1.7rem;
            }
            
        }
    }

    .innovation {
        @extend .earth;

    }
}

/* 
    seccion de galeria de estilos
*/

.gallery {

    .gallery--img{
        margin-bottom: 60px;
        @include flexCenter(row, space-between, center);
        img {
            width: 27vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/* 
    seccion encuentranos en
*/

.location {
    color: #E86424;
    .map {
        @include flexCenter(row, center, center);
        img {
            width: 80vw;
            border-radius: 16px;
        }
    }
    h3 {
        padding-top: 20px;
        margin-left: 50px;
        font-size: 1.8rem;
    }
    p {
        margin-left: 50px;
        padding-bottom: 60px;
        font-size: 1.2rem;
    }
}

/* 
    main terminado con todas sus seccions
    comienza el footer
*/

footer {
    padding: 30px;
    background-color: #E86424;
    width: 100%;
    height: auto;
    color: $just_white;
    
    h3 {
        font-size: 1.8rem;
    }

    ul {
        li {
            list-style: none;
            font-size: 1.5rem
        }
    }
    .social--media {
        @include flexCenter(row, center, center);
        gap: 25px;

    }
}