/* Colores */
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiarty-color: #BABD8D;
$just_white: #ffffff;
$primaryy--text-color: #7C6A0A;
/* Font-family */
$font-stack: "IBM Plex Sans", sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 62.5%;
    font-family: $font-stack;
    background-color: $primary-color;
}

nav {
    width: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: $primaryy--text-color;
    box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.3);
    p {
        font-size: 2.5rem;
        font-weight: bold;
        padding-left: 10px ;
    }

    .icons{
        display: flex;
        gap: 15px;
        align-items: center;
        button{
            background: none;
            border-style: none;
            
        }

        .profile {
            width: 30px;
            height: 30px;
            background-image: url('https://i.postimg.cc/QtFQwC9K/user-circle.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        } 
                
        .wishlist {
        width: 30px;
        height: 30px;
        background-image: url('https://i.postimg.cc/43NbvBX5/heart.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        } 
                
        .clard {
        width: 30px;
        height: 30px;
        background-image: url('https://i.postimg.cc/XvHKsdJ0/shopping-cart.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
    }   
}

/* 
    empiezo con mi main, termine el head
*/

article {
    width: auto;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    color: $primaryy--text-color;

    .impact--section{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        width: 45vw;
        height: auto;
        margin-top: -150px;
        font-size: 1.9rem;
        text-align: justify;
    }

    button {
        width: 12vw;
        height: auto;
        min-height: 50px ;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #FA9500;
        color: #ffffff;
        border-style: none;
        border-radius: 35px;
        box-shadow: 3px 6px 16px -5px rgba(0,0,0,0.49);
    }

    .img--section {
        width: 30vw;
        height: 520px;
        border-radius: 19px;
        background-image: url('https://i.postimg.cc/Cx96m36N/main-2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}

